

<div *ngIf="getme" id="childview-container">

    <div *ngIf="!needToUpdate" id="getme-display">
        <h2>{{ getme.topic }}</h2>
        <h3>{{ getme.issue }}</h3>
        <p>{{ getme.view }}</p>
    </div>
    <form *ngIf="needToUpdate" id="getme-update">
        <div class="form-group">
            <label>Topic</label>
            <input type="text" [(ngModel)]="upd_topic" name="upd_topic" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Is there a current issue?</label>
            <input type="text" [(ngModel)]="upd_issue" name="upd_issue"  class="form-control"/>
        </div>
        <div class="form-group">
            <label>What is your view on this topic?</label>
            <input type="text" style="height:200px;font-size:14px;" [(ngModel)]="upd_view" name="upd_view" class="form-control"/>
        </div>  
        
    </form>

    <div id="button-container">
        <button *ngIf="!needToUpdate" (click)="update_button()" id="update-button" >Update</button>
        <button *ngIf="needToUpdate" (click)="save_button()" id="save-button">Save</button>
        <button *ngIf="needToUpdate" (click)="needToUpdate = false;" id="cancel-button">Cancel</button>
        <img (click)="deleteGetme(getme._id)" id="delete-button" src="assets/img/delete-24px.svg" alt="delete">
    </div>
    
</div>
