#sidebar {
    order: 0;
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#sidebar a {
    width: 100px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: #42A5FF;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
}